.home {
  &__jumbotron {
    background-color: lightgray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 12px 8%;
    padding: 24px;
    position: relative;

    &-image {
      width: 396px;
      height: auto;
      display: block;
    }
  }
}

@media (min-width: 1200px) {
  .home {
    &__jumbotron {
      margin: 20px 20%;
    }
  }
}

