<section class="home__jumbotron">
  <h1 class="home__title">Welcome to my Comics Heroes App</h1>
  <img src="assets/img/marvel-dc-logo.jpg" class="home__jumbotron-image">
  <h3 class="home__subtitle">How to use it?</h3>
  <p class="home__description">
    This application has a list of heroes from MARVEL & DC, so you can search 
    among heroes to find your favorite one. Click on "more" to see the wikipedia information 
    and click on "photos" to search pictures of the character into google.
  </p>
  <p>Have fun!</p>
</section>