.heroe {
  &__container {
    background: white;
    border: 1px solid #047194;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
  }

  &__figure {
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px 40px;
  }

  &__img {
    display: block;
    height: auto;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  &__data {
    flex: 1;
    padding: 0px 20px;
  }

  &__title {
    font-weight: bold;
    text-transform: capitalize;
  }

  &__footer {
    padding: 0px 20px;
    text-align: center;
  }

  &__link-wiki,
  &__link-photos {
    background-color: #047194;
    border: 1px solid #4287b9;
    border-radius: 12px;
    color: white;
    display: inline-block;
    padding: 8px 20px;
    text-transform: uppercase;
  }
}